# Configuración de Conexión a Supabase (GQG System)
# Renombra este archivo a .env y completa con tus credenciales reales de Supabase.

VITE_SUPABASE_URL=https://nedozxkpewadmzriujyl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5lZG96eGtwZXdhZG16cml1anlsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxNjc3MzIsImV4cCI6MjA5NTc0MzczMn0.aFX31Skzv8A3OuT6rq3QkDGa_KQdJX5WtUXrfJqo39Y
